.container,
.information {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  align-items: center;
  justify-content: center;
  background-color: rgb(160, 156, 145);
}

.information .genre {
  list-style: none;
  flex-direction: row;
}

.information .origin {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  /* background-color: darkkhaki; */
}

.seasons .image {
  width: 200px;
}


.information .comments {
  padding: 20px 0px;
  /* background-color: thistle; */
}

.comments .history {
  padding: 10px 0px;
  /* background-color: yellowgreen; */
}

.comments .current {
  padding: 10px 0px;
  /* background-color: gainsboro; */
}


.seasons .title,
.seasons .date,
.seasons .epcount {
  margin: 0px;
}

.seasons{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.season{
  position: relative;
  background-color: rgb(153, 150, 147);
  display: inline;
  width: 400px;
  margin: 20px;
  text-align:center;
}

.season .overview{
  background-color: rgb(180, 180, 179);
  margin: 0;
}
/*
.seasons {
  align-items: center;
  margin: 0px;
}

.season {
  margin: 10px 0px;
  padding: 5px;
  width: 80%;
  border-radius: 20px;
}

*/

