*{
    box-sizing: border-box;
}

.comment-container{
    width: 100%;
    background-color: #d4d1d1;
}

.divider{
    height: 2px;
    background-color: rgb(173, 169, 169);
    width: 100%;
}

.comment{
    width: 100%;
}

.comment-form {
    margin: 5px 0 10px 0;
    text-align: center;
}

.comment-form input{
    width: 80%;
    margin-top: 10px;
    border: none;
    height: 20px;
}

.comment-element{
    display: flex;
}

.comment-element .comment-content{
    position: relative;
    display: flex;
    margin-top: 20px ;
    transform: translateX(10%);
}

.comment-element .comment-date{
    margin-right: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}


/*   댓글 편집    */

.comment-edit-btn{
    width: 20px;
    height: 20px;
    border: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 70%;
}

.comment-edit-btn:hover{
    background-color: rgb(58, 57, 57);
    cursor: pointer;
    transition: all 2s;
}

.eidit-box{
    position: absolute;
    display: flex;
    margin-top: 20px;
    right: 10%;
}


.comment-edit{
    display: flex;
    text-align: center;
    justify-content: space-between;
}


.comment-edited-input{
    margin-left: 40px;
    width:  60%;
    border: none;
}

/*  댓글 답글  */

.comment-reply-btn{
    position: relative;
    margin-top: 10px;
    margin-right: 5px;
    left: 10px;
    background-color: #222422; /* Green */
    border: none;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}

.reply-comment-form{
    margin-bottom: 20px;
}

.reply-comment-input{
    position: relative;
    left: 5px;
    width: 90%;
}