<<<<<<< HEAD
.divider{
    height: 2px;
    background-color: rgb(173, 169, 169);
}

.comment{
    width: 100%;
}

.comment-form {
    margin: 20px 0 20px 0;
    text-align: center;
}

.comment-form input{
    width: 80%;
    margin-top: 10px;
    border: none;
    height: 20px;
}

.comment-element{
    display: flex;
}

.comment-content{
    position: relative;
    display: flex;
    margin: 14px ;
    margin-left: 40px;
}

.comment-date{
    margin-right: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
}


.comment-edit-btn{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    border: 0;
    background-color: rgb(177, 168, 159);
    border-radius: 70%;
}

.comment-edit-btn:hover{
    background-color: rgb(248, 247, 247);
    cursor: pointer;
    transition: background-color .5s;
    transition: transform .2s;
}

.eidit-box{
    position: absolute;
    right: 20px;
    display: flex;
    margin-top: 20px;
}

.comment-edit{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.comment-edited-input{
    margin-left: 40px;
    width:  60%;
    border: none;
}
=======
.divider {
  margin-top: 20px;
  height: 2px;
  background-color: #ada9a9;
}
.comment-form input[type="text"] {
  border: 0;
  background-color: #d8d5d5;
  display: block;
  margin: 10px auto;
  text-align: center;
  border: 2px solid #000000;
  padding: 14px 10px;
  width: 200px;
  color: rgb(0, 0, 0);
  outline: none;
  border-radius: 24px;
  transition: 0.25s;
}

label {
  padding: 20px;
  color: black;
  display: flex;
  justify-content: center;
}

.comment-form input[type="text"]:focus {
  width: 500px;
  border-color: #000000;
}

.comment-form button[type="submit"] {
  border: 0;
  background-color: #191919;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #ffffff;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.comment-form button[type="submit"]:hover {
  background-color: #85858a;
}

.comment-element {
  margin: 0 10px;
  margin-top: 20px;
  background-color: #e0dede;
  display: flex;
  padding-bottom: 20px;
}

.comment-content {
  position: relative;
  display: flex;
  margin: 14px;
  margin-left: 40px;
}

.comment-date {
  margin-top: 25px;
  margin-right: 10px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.comment-edit-btn {
  margin-right: 20px;
  width: 20px;
  height: 20px;
  border: 0;
  background-color: rgb(177, 168, 159);
  border-radius: 70%;
}

.comment-edit-btn:hover {
  background-color: rgb(248, 247, 247);
  cursor: pointer;
  transition: background-color 0.5s;
  transition: transform 0.2s;
}

.eidit-box {
  position: absolute;
  right: 20px;
  display: flex;
  margin-top: 20px;
}

.comment-edit {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
>>>>>>> cf1b39c (moon)
