.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 1000;
  height: 110px;
}

.menu {
  padding: 0;
  list-style: none;
  display: flex;
}

.menu li{
  padding: 10px;
}

.logreg {
  list-style: none;
  display: flex;
  padding: 0;
}

.logreg li{
  padding: 10px;
}

.navbar .title,
.navbar .login,
.navbar .register,
.navbar .home {
  text-decoration: none;
  color: white;
}
