.navbar {
  padding: 8px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 1000;
}

.menu {
  list-style: none;
}

.login,
.register {
  padding: 0px 10px;
}

.logreg {
  list-style: none;
  display: flex;
}

.navbar .title,
.navbar .login,
.navbar .register,
.navbar .home {
  text-decoration: none;
  color: white;
}
