.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 20px;
  font-weight: 1000;
  height: 110px;
}

.navbar-icon{
  font-size: 25px;
  position: relative;
  left: 20px;
}

.menu {
  padding: 0;
  list-style: none;
  display: flex;
  position: relative;
  left: 40px;
}

.menu li{
  text-decoration: none;
  padding: 10px;
}

.logreg {
  list-style: none;
  display: flex;
  padding: 0;
}

.logreg li{
  padding: 10px;
}


.navbar .title,
.navbar .login,
.navbar .register,
.navbar .home,
.navbar .search,
.logout, .mypage
{
  text-decoration: none;
  color: white;
}

.search-icon{
  color: white;
}